---
import { render } from 'astro:content';

import { getAllGarageItems } from '@/modules/garage';
import GarageLayout from '@/layouts/Garage.astro';
import GarageJumpLinks from '@/components/GarageJumpLinks.astro';
import Share from '@/components/Share.astro';
import { ROUTES } from '@/constants/routes';
import { localizedPath } from '@/utils/i18n';
import { CONFIG_CLIENT } from '@/config/client';
import { getOpenGraphImagePath } from '@/libs/api/open-graph/image-path';

import type { Metadata } from '@/types/common';
import type { Garage } from '@/types/garage';

const { SITE_URL } = CONFIG_CLIENT;
const locale = Astro.currentLocale;

export async function getStaticPaths() {
  const items: Garage[] = await getAllGarageItems();

  const paths = items.map((item) => ({
    params: { slug: item.slug },
    props: { ...item },
  }));

  return paths;
}

const { data } = Astro.props;
const { pathname } = Astro.url;
const { slug } = Astro.params;

const image = getOpenGraphImagePath(pathname);
const { title, description, category } = data;

const metadata: Metadata = { title, description, image };

const shareProps = {
  title,
  description,
  url: `${SITE_URL}${localizedPath(locale, `${ROUTES.GARAGE}${slug}`)}`,
};

const { Content } = await render(Astro.props);
---

<GarageLayout {metadata}>
  <Content />
  <GarageJumpLinks {category} />
  <div class="flex justify-end">
    <Share {...shareProps} />
  </div>
</GarageLayout>
