---
import { Image } from 'astro:assets';

import Link from '@/components/Link.astro';
import { IMAGE_SIZES } from '@/constants/image';
import { ROUTES } from '@/constants/routes';

import type { Garage } from '@/types/garage';

export interface Props {
  item: Garage;
}

const { item } = Astro.props;

const { slug, data } = item;
const { title, description, heroImage, heroAlt } = data;
---

<article>
  <a href={`${ROUTES.GARAGE}${slug}`}>
    <Image
      {...IMAGE_SIZES.RESPONSIVE.PROJECT_CARD}
      src={heroImage}
      alt={heroAlt}
      class="rounded-t-box mb-2 aspect-[4/3] object-cover w-full cursor-pointer hover:opacity-80 transition-opacity"
    />
  </a>

  <h4 class="b-h4 break-words line-clamp-2 mb-0">
    <Link href={`${ROUTES.GARAGE}${slug}`} variant="link-heading">
      {title}
    </Link>
  </h4>
  {description && <p class="text-sm text-captions mb-2">{description}</p>}
</article>
